In [ ]:
%pip install Flask psycopg2 requests Flask-Cors
%pip install kagglehub
%pip install chardet

In [15]:
import os
import pandas as pd
import psycopg2
import chardet
import requests
from flask import Flask, request, jsonify
from flask_cors import CORS
from psycopg2 import pool, extras
from datetime import datetime

In [16]:
CSV_FILE_PATH = r"c:\\Users\\Antho\\Downloads\\space_missions.csv"
DATABASE_URL = os.getenv("DATABASE_URL", "postgresql://postgres:At11221990$$@localhost:5432/launches_db")

In [17]:

app = Flask(__name__)
CORS(app)

In [18]:
# DB Connection Pool
db_pool = pool.SimpleConnectionPool(1, 10, dsn=DATABASE_URL)

def get_db_connection():
    return db_pool.getconn()

def release_db_connection(conn):
    db_pool.putconn(conn)

In [19]:
# Create table 
def create_launches_table():
    conn = get_db_connection()
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS launches (
        id SERIAL PRIMARY KEY,
        mission_name TEXT,
        launch_date DATE,
        launch_year INT,
        success BOOLEAN,
        failure_reason TEXT,
        agency TEXT,
        source_id TEXT UNIQUE
    );
    """)
    conn.commit()
    cur.close()
    release_db_connection(conn)

In [20]:
with open(CSV_FILE_PATH, 'rb') as f:
    encoding = chardet.detect(f.read())['encoding']

In [28]:
@app.route("/api/launches", methods=["POST"])
def add_launch():
    data = request.json
    conn = get_db_connection()
    cur = conn.cursor()
    try:
        cur.execute("""
            INSERT INTO launches (mission_name, launch_date, launch_year, success, failure_reason, agency, source_id)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
        """, (data["mission_name"], data["launch_date"], data["launch_year"],
              data["success"], data["failure_reason"], data["agency"], data["source_id"]))
        conn.commit()
        return jsonify({"message": "Launch added!"}), 201
    except Exception as e:
        conn.rollback()
        return jsonify({"error": str(e)}), 400
    finally:
        cur.close()
        release_db_connection(conn)

@app.route("/api/launches/<source_id>", methods=["PUT"])
def update_launch(source_id):
    data = request.json
    conn = get_db_connection()
    cur = conn.cursor()
    try:
        cur.execute("""
            UPDATE launches SET
                mission_name=%s,
                launch_date=%s,
                launch_year=%s,
                success=%s,
                failure_reason=%s,
                agency=%s
            WHERE source_id = %s
        """, (data["mission_name"], data["launch_date"], data["launch_year"],
              data["success"], data["failure_reason"], data["agency"], source_id))
        conn.commit()
        return jsonify({"message": "Launch updated!"})
    except Exception as e:
        conn.rollback()
        return jsonify({"error": str(e)}), 400
    finally:
        cur.close()
        release_db_connection(conn)

@app.route("/api/launches/<source_id>", methods=["DELETE"])
def delete_launch(source_id):
    conn = get_db_connection()
    cur = conn.cursor()
    try:
        cur.execute("DELETE FROM launches WHERE source_id = %s", (source_id,))
        conn.commit()
        return jsonify({"message": "Launch deleted!"})
    except Exception as e:
        conn.rollback()
        return jsonify({"error": str(e)}), 400
    finally:
        cur.close()
        release_db_connection(conn)

In [29]:
def insert_launches(launches, agency_name):
    conn = get_db_connection()
    cur = conn.cursor()

    for launch in launches:
        try:
            mission_name = launch.get("name")
            launch_date = launch.get("window_start") or launch.get("date_utc")
            launch_date = pd.to_datetime(launch_date, errors="coerce")
            if pd.isna(launch_date):
                continue  # skip rows with invalid date

            launch_year = launch_date.year
            success = False
            if "status" in launch:
                success = launch.get("status", {}).get("abbrev", "").lower() == "success"
            elif "success" in launch:
                success = bool(launch.get("success"))

            failure_reason = launch.get("failreason", "Unknown")
            source_id = agency_name + "__" + str(launch_date.date())

            cur.execute("""
                INSERT INTO launches (mission_name, launch_date, launch_year, success, failure_reason, agency, source_id)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
                ON CONFLICT (source_id) DO NOTHING;
            """, (
                mission_name,
                launch_date.date(),
                launch_year,
                success,
                failure_reason,
                agency_name,
                source_id
            ))
        except Exception as e:
            print(f"❌ Insert Error for {mission_name}: {e}")
            conn.rollback()

    conn.commit()
    cur.close()
    release_db_connection(conn)
    print(f"✅ Inserted {agency_name} launches")

In [30]:
def load_csv_to_postgres():
    try:
        with open(CSV_FILE_PATH, 'rb') as f:
            encoding = chardet.detect(f.read())['encoding']
        df = pd.read_csv(CSV_FILE_PATH, encoding=encoding)
    except UnicodeDecodeError:
        print("⚠️ Failed with detected encoding. Retrying with ISO-8859-1...")
        df = pd.read_csv(CSV_FILE_PATH, encoding='ISO-8859-1')

    df.rename(columns={
        "Company": "agency",
        "Mission": "mission_name",
        "Date": "launch_date",
        "Year": "launch_year",
        "Success": "success",
        "Failure Reason": "failure_reason"
    }, inplace=True)

    if "success" not in df.columns:
        print("❌ Missing 'success' column in CSV")
        df["success"] = False

    df["success"] = df["success"].apply(lambda x: str(x).strip().lower() == "success")
    df["failure_reason"] = df.apply(lambda row: None if row["success"] else "Unknown", axis=1)
    df["launch_date"] = pd.to_datetime(df["launch_date"], errors="coerce")
    df["launch_year"] = df["launch_date"].dt.year
    df["source_id"] = df["agency"] + "__" + df["launch_date"].astype(str)

    try:
        conn = get_db_connection()
        cur = conn.cursor()
        for _, row in df.iterrows():
            if pd.isna(row["launch_date"]): continue
            cur.execute("""
                INSERT INTO launches (mission_name, launch_date, launch_year, success, failure_reason, agency, source_id)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
                ON CONFLICT (source_id) DO NOTHING;
            """, (row["mission_name"], row["launch_date"], row["launch_year"], row["success"], row["failure_reason"], row["agency"], row["source_id"]))
        conn.commit()
        cur.close()
        release_db_connection(conn)
        print("✅ CSV data successfully loaded!")
    except Exception as e:
        print(f"❌ DB Insert Error: {e}")

In [31]:
def fetch_nasa_launches():
    url = "https://llapi.thespacedevs.com/2.2.0/launch/?limit=1000&lsp__abbrev=NASA"
    res = requests.get(url, timeout=60, verify=False)
    return res.json().get("results", []) if res.status_code == 200 else []

def fetch_spacex_launches():
    url = "https://api.spacexdata.com/v4/launches"
    res = requests.get(url, timeout=30, verify=False)
    return res.json() if res.status_code == 200 else []

In [32]:
# Load the DataFrame
try:
	with open(CSV_FILE_PATH, 'rb') as f:
		encoding = chardet.detect(f.read())['encoding']
	df = pd.read_csv(CSV_FILE_PATH, encoding=encoding)
except UnicodeDecodeError:
	print("⚠️ Failed with detected encoding. Retrying with ISO-8859-1...")
	df = pd.read_csv(CSV_FILE_PATH, encoding='ISO-8859-1')

# Ensure the column "launch_date" exists
if "launch_date" in df.columns:
	# Ensure the column "launch_year" exists
	if "launch_year" not in df.columns:
		df["launch_year"] = pd.to_datetime(df["launch_date"]).dt.year

	print(df[["launch_date", "launch_year"]].head(10))
else:
	print("Column 'launch_date' does not exist in the DataFrame.")

print(df.dtypes)
print(df.head(10))

⚠️ Failed with detected encoding. Retrying with ISO-8859-1...
Column 'launch_date' does not exist in the DataFrame.
Company          object
Location         object
Date             object
Time             object
Rocket           object
Mission          object
RocketStatus     object
Price            object
MissionStatus    object
dtype: object
     Company                                   Location        Date      Time  \
0  RVSN USSR  Site 1/5, Baikonur Cosmodrome, Kazakhstan  1957-10-04  19:28:00
1  RVSN USSR  Site 1/5, Baikonur Cosmodrome, Kazakhstan  1957-11-03  02:30:00
2    US Navy   LC-18A, Cape Canaveral AFS, Florida, USA  1957-12-06  16:44:00
3       AMBA   LC-26A, Cape Canaveral AFS, Florida, USA  1958-02-01  03:48:00
4    US Navy   LC-18A, Cape Canaveral AFS, Florida, USA  1958-02-05  07:33:00
5       AMBA   LC-26A, Cape Canaveral AFS, Florida, USA  1958-03-05  18:27:00
6    US Navy   LC-18A, Cape Canaveral AFS, Florida, USA  1958-03-17  12:15:00
7       AMBA     LC-5, Cape Canaveral AFS, Florida, USA  1958-03-26  17:38:00
8  RVSN USSR  Site 1/5, Baikonur Cosmodrome, Kazakhstan  1958-04-27  09:01:00
9    US Navy   LC-18A, Cape Canaveral AFS, Florida, USA  1958-04-28  02:53:00

           Rocket         Mission RocketStatus Price MissionStatus
0  Sputnik 8K71PS       Sputnik-1      Retired   NaN       Success
1  Sputnik 8K71PS       Sputnik-2      Retired   NaN       Success
2        Vanguard    Vanguard TV3      Retired   NaN       Failure
3          Juno I      Explorer 1      Retired   NaN       Success
4        Vanguard  Vanguard TV3BU      Retired   NaN       Failure
5          Juno I      Explorer 2      Retired   NaN       Failure
6        Vanguard      Vanguard 1      Retired   NaN       Success
7          Juno I      Explorer 3      Retired   NaN       Success
8    Sputnik 8A91    Sputnik-3 #1      Retired   NaN       Failure
9        Vanguard    Vanguard TV5      Retired   NaN       Failure

In [33]:
def insert_launches(launches, agency_name):
    conn = get_db_connection()
    cur = conn.cursor()

    for launch in launches:
        try:
            mission_name = launch.get("name")
            launch_date = launch.get("window_start") or launch.get("date_utc")
            launch_date = pd.to_datetime(launch_date, errors="coerce")
            if pd.isna(launch_date):
                continue  # skip rows with invalid date

            launch_year = launch_date.year
            success = False
            if "status" in launch:
                success = launch.get("status", {}).get("abbrev", "").lower() == "success"
            elif "success" in launch:
                success = bool(launch.get("success"))

            failure_reason = launch.get("failreason", "Unknown")
            source_id = agency_name + "__" + str(launch_date.date())

            cur.execute("""
                INSERT INTO launches (mission_name, launch_date, launch_year, success, failure_reason, agency, source_id)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
                ON CONFLICT (source_id) DO NOTHING;
            """, (
                mission_name,
                launch_date.date(),
                launch_year,
                success,
                failure_reason,
                agency_name,
                source_id
            ))
        except Exception as e:
            print(f"❌ Insert Error for {mission_name}: {e}")
            conn.rollback()

    conn.commit()
    cur.close()
    release_db_connection(conn)
    print(f"✅ Inserted {agency_name} launches")

In [38]:
if __name__ == "__main__":
    with db_pool.getconn() as conn:
        create_launches_table()
        load_csv_to_postgres()
        insert_launches(fetch_nasa_launches(), "NASA")
        insert_launches(fetch_spacex_launches(), "SpaceX")
        app.run(debug=True, host="0.0.0.0", port=5000)

⚠️ Failed with detected encoding. Retrying with ISO-8859-1...
❌ Missing 'success' column in CSV
✅ CSV data successfully loaded!

c:\Users\Antho\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'llapi.thespacedevs.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

✅ Inserted NASA launches

c:\Users\Antho\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'api.spacexdata.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

✅ Inserted SpaceX launches
 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5000
 * Running on http://192.168.1.147:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

c:\Users\Antho\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [39]:
print(df.columns)   
print(df.head())
print(df.dtypes)
print(df.describe())
print(df.info())    
print(df.isnull().sum())
print(df.shape)

Index(['Company', 'Location', 'Date', 'Time', 'Rocket', 'Mission',
       'RocketStatus', 'Price', 'MissionStatus'],
      dtype='object')
     Company                                   Location        Date      Time  \
0  RVSN USSR  Site 1/5, Baikonur Cosmodrome, Kazakhstan  1957-10-04  19:28:00
1  RVSN USSR  Site 1/5, Baikonur Cosmodrome, Kazakhstan  1957-11-03  02:30:00
2    US Navy   LC-18A, Cape Canaveral AFS, Florida, USA  1957-12-06  16:44:00
3       AMBA   LC-26A, Cape Canaveral AFS, Florida, USA  1958-02-01  03:48:00
4    US Navy   LC-18A, Cape Canaveral AFS, Florida, USA  1958-02-05  07:33:00

           Rocket         Mission RocketStatus Price MissionStatus
0  Sputnik 8K71PS       Sputnik-1      Retired   NaN       Success
1  Sputnik 8K71PS       Sputnik-2      Retired   NaN       Success
2        Vanguard    Vanguard TV3      Retired   NaN       Failure
3          Juno I      Explorer 1      Retired   NaN       Success
4        Vanguard  Vanguard TV3BU      Retired   NaN       Failure
Company          object
Location         object
Date             object
Time             object
Rocket           object
Mission          object
RocketStatus     object
Price            object
MissionStatus    object
dtype: object
          Company                                    Location        Date  \
count        4630                                        4630        4630
unique         62                                         158        4180
top     RVSN USSR  Site 31/6, Baikonur Cosmodrome, Kazakhstan  1962-04-26
freq         1777                                         251           4

            Time              Rocket Mission RocketStatus Price MissionStatus
count       4503                4630    4630         4630  1265          4630
unique      1300                 370    4556            2    65             4
top     12:00:00  Cosmos-3M (11K65M)     DSP      Retired   450       Success
freq          52                 446       8         3620   136          4162
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4630 entries, 0 to 4629
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        4630 non-null   object
 1   Location       4630 non-null   object
 2   Date           4630 non-null   object
 3   Time           4503 non-null   object
 4   Rocket         4630 non-null   object
 5   Mission        4630 non-null   object
 6   RocketStatus   4630 non-null   object
 7   Price          1265 non-null   object
 8   MissionStatus  4630 non-null   object
dtypes: object(9)
memory usage: 325.7+ KB
None
Company             0
Location            0
Date                0
Time              127
Rocket              0
Mission             0
RocketStatus        0
Price            3365
MissionStatus       0
dtype: int64
(4630, 9)